name: CI

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

  workflow_dispatch:

jobs:
  build:
    
    runs-on: ubuntu-latest
    
    steps:
      - uses: actions/checkout@v3
      
      - name: install node v12
        uses: actions/setup-node@v1
        with:
          node-version: 12

      - name: yarn install
        run: yarn install

      - name: Move static files
        shell: sh
        run: |
          mkdir build
          cp -r static/* build/
          cp -r maps build/

      - name: Install tsc
        shell: sh
        run: npm install -g typescript
        
      - name: Compile Typescript
        shell: sh
        run: tsc

      - name: Package artifact
        uses: actions/upload-artifact@v3
        with:
          name: github-pages
          path: build/
          retention-days: 1

  deploy:

    needs:
      build

    permissions:
      pages: write
      id-token: write

    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}

    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Setup Pages
        uses: actions/configure-pages@v3

      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v2

